
.notification::-webkit-scrollbar {
    width: 10px;
}

.notification::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Zaokrąglone krawędzie */
}

.notification::-webkit-scrollbar-thumb {
    background-color: rgba(210, 12, 12, 0.8);
    border-radius: 10px; /* Zaokrąglone krawędzie */
}

.notification::-webkit-scrollbar-thumb:hover {
    background-color: rgba(210, 12, 12, 1);
}
