{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title_article_view }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body style="margin: 0; padding: 20px; background-image: url('https://th.bing.com/th/id/OIG.AiXJa51NnnyoXrQsXrlW?pid=ImgGn'); background-size: cover; background-position: center; background-attachment: fixed;">
<nav class="navbar is-success " role="navigation" aria-label="main navigation" style="border-radius: 50px; background-color: rgba(34,229,27,0.8)">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Stronka bulma">
        </a>
        <a role="button" class="navbar-burger" data-target="skladak">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="skladak" class="navbar-menu">
        <div class="navbar-start is-size-3 is-italic has-text-weight-semibold">
            <a class="navbar-item has-text-black" href="/artykuly/Glowna/">
               Strona główna
            </a>
            <a class="navbar-item has-text-black" href="/artykuly/Kontakt/">
                Kontakt
            </a>
            <a class="navbar-item has-text-black" href="/artykuly/Regulamin/">
                Regulamin
            </a>
            <a href="https://bulma.io/documentation/" target="_blank" class="navbar-item has-text-black">
                Informacje BULMA
            </a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container is-fluid">
        <div class="notification is-primary is-info " style="border-radius: 50px; background-color: rgba(78, 41, 227, 0.8)">
            <h2 class="title is-2 has-text-centered"><strong>Salon samochodowy</strong></h2>
            Trzydziestoletnie doświadczenie na rynku oraz pasja do motoryzacji
            zapewniły firmie Olgda rzeszę zadowolonych i lojalnych klientów.
            Wychodząc naprzeciw potrzebom, 21 października, swoje drzwi dla Klientów otworzył nowy punkt dealerski
            SEAT-a w Gdańsku.
            W salonie Plichta miłośnicy dynamicznych aut wybiorą swojego nowego SEAT-a oraz skorzystają z usług serwisu.
            To już drugi w Trójmieście i 23. autoryzowany punkt sprzedaży marki w Polsce.
        </div>
        {% for art in articles %}
        <div class="card box" style="border-radius: 50px; background-color: rgba(6,6,9,0.8)">
            <div class="media-content">
                <p class="title is-4 has-text-centered has-text-white">{{ art.title }}</p>
            </div>
            <div class="media">
                <div class="card-content centered">
                    <div class="content is-size-4 is-italic has-text-weight-semibold has-text-white has-text-centered ">
                        {{ art.content }}
                    </div>
                </div>
                <div class="media-right">
                    <figure class="image">
                        <iframe width="248" height="248" src="/images/{{ art.imgThumb }}" style="border-radius: 50px;" frameborder="1"></iframe>
<!--                        <img src="/images/{{ art.imgThumb }}" alt="{{ art.title }}">-->
                    </figure>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
</body>
</html>