<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title_article_view }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-background-success">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a herf="/artykuly/list/" class="navbar-item">
                {{ title_article_view }}
            </a>

            <a herf="https://bulma.io/documentation/" target="_blank" class="navbar-item">
                Informacje BULMA
            </a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container is-fluid">
        <div class="notification is-primary">
            <strong>Salon samochodowy</strong> Trzydziestoletnie doświadczenie na rynku oraz pasja do motoryzacji
            zapewniły firmie Plichta rzeszę zadowolonych i lojalnych klientów.
            Wychodząc naprzeciw potrzebom, 21 października, swoje drzwi dla Klientów otworzył nowy punkt dealerski
            SEAT-a w Gdańsku.
            W salonie Plichta miłośnicy dynamicznych aut wybiorą swojego nowego SEAT-a oraz skorzystają z usług serwisu.
            To już drugi w Trójmieście i 23. autoryzowany punkt sprzedaży marki w Polsce.
        </div>

        <!-- Articles -->
        {% for art in articles %}
        <div class="card box">
            <div class="card-content">
                <h4 class="title is-4">{{ art.title }}</h4>
                <div class="content">
                    {{ art.content }}
                </div>
                <div class="imgThumb">
                    <figure class="image is-128x128">
                        <img src="{{ art.imgThumb.url }}" alt="{{ art.title }}">
                    </figure>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- End Articles -->


    </div>
</section>
</body>
</html>